ARK_HOST=0.0.0.0
ARK_PORT=8000
ARK_SERVER_NAME=Pulpinesien - The Island
ARK_HERO_IMAGE_URL=/static/images/ark-hero-asa.jpeg
ARK_CARD_IMAGE_DINO_DANGER=/static/images/card-dino-danger.svg
ARK_CARD_IMAGE_DINO_KILLER=/static/images/card-dino-killer.svg
ARK_CARD_IMAGE_TOP_TAMER=/static/images/card-top-tamer.svg
ARK_DISPLAY_TIMEZONE=Europe/Berlin
ARK_MVP_WEIGHT_DINO_KILL=1.0
ARK_MVP_WEIGHT_PLAYER_KILL=3.0
ARK_MVP_WEIGHT_DINO_TAME=2.0
ARK_MVP_PENALTY_DEATH=1.5
ARK_DB_SOURCE=/srv/ark-discord/ark_stats.db
ARK_DB_TARGET=/data/ark_stats.db
TRAEFIK_HOST=ark.example.com
TRAEFIK_NETWORK=traefik
